table.table {
  background-color: white;
}

@media only screen and (max-width: 500px){
  .modal {
    width: 320pt;
    .modal-content {
      width: 200pt;
    }
  }
}

.form-inline{
	overflow: auto;
}
.require-select{
    .vs__dropdown-toggle {
        border-color: brown !important;
    }
}
.require-select{
    .mx-input {
        border-color: brown !important;
    }
}